# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Logs
logs/
*.log

# Data files
frontend/docs/
llm/agent_docker/
llm/docs/
llm/firmware_tools.py
llm/check_pellet_properties.py
llm/analysis_tools/